[Desktop Entry]
Version=1.0
Name=Betrock
Exec=Betrock
Terminal=false
Icon=icon
Type=Application
Categories=Game;
X-AppImage-Integrate=false
Name[en_US]=Betrock.desktop
