[Desktop Entry]
Version=1.0
Type=Application
Name=LegacyWorldViewer
Comment=Legacy Minecraft World Explorer
Exec=LegacyWorldViewer %u
Icon=LegacyWorldViewer
Terminal=false
Categories=Game;
